<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.PdfToImageConverter.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="29.1.41" targetFramework="net472" />
</packages>